/* Universal styles */
* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Title Styles */
@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Rocher', sans-serif;
    font-palette: --Purples;
    background-color: rgba(0, 0, 0, 0.2);
}
h2 {
    color: whitesmoke;
    font-size: 1.75rem;
}

/* Nav Styles */
nav{
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-top: 0.725rem;
    height: 4rem;
}
nav ul {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 1rem;
    list-style: none;
}
nav li {
    display: flex;
}
nav li a {
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* Hover Effects */
nav li a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}